.land:hover {
	fill: darkgreen;
}

svg {
	display: block;
	margin: auto;
	height: 80%;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
}

h2 {
	text-align: center;
}

.Hokkaido1 {
	position: relative;
	width: 75px;
	height: 750px;
}

.Hokkaido2 {
	position: absolute;
	bottom: 100%;
	left: 0%;
	width: 300px;
	height: 300px;
}
