.land:hover {
	fill: darkgreen;
}

svg {
	display: block;
	margin: auto;
	height: 80%;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
}

a {
	padding: 4px;
	color: black;
	background-color: #cccccc;
	border-radius: 10px;
}

h2 {
	text-align: center;
}

.class1 {
	position: relative;
	width: 40px;
	height: 40px;
}

.class2 {
	position: absolute;
	bottom: 10%;
	left: 0%;
	width: 200px;
	height: 200px;
}
