.land:hover {
	fill: darkgreen;
}

svg {
	display: block;
	margin: auto;
	height: 800px;
}

h2 {
	text-align: center;
}

.contents {
	position: relative;
	width: 40px;
	height: 40px;
  }
   
  .image {
	position: absolute;
	bottom:680px;
	left: 1230px;
	width: 200px;
	height: 200px;
  }
