.land:hover {
	fill: darkgreen;
}

svg {
	display: block;
	margin: auto;
	height: 80%;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
}

h2 {
	text-align: center;
}

.contents {
	position: relative;
	width: 40px;
	height: 40px;
}

.image {
	position: absolute;
	bottom: 5%;
	left: 0%;
	width: 200px;
	height: 200px;
}
